<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center mt">
                    Login here!!

                </h1>

                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="username">UserID:</label>
                        <input type="text" id="username" name="username"  required>
                      </div>
                  
                      <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                      </div>

                      <button type="submit">Login</button>
                      <br>
                      <button type ="Change mt">Reset</button>
                </form>
            </div>

        </div>

    </div>

</div>


